$darkColor: #343a40;
$whiteColor: #ffffff;
$bkColor: rgb(59,61,73);
$bkFooter: #55ACEE;
$colorFooter: #999999;
$lightGray: rgba(243, 244, 246,0.5);
$toogle: #ffff5f;
$menu: #6c757d;
$color5: rgba(255, 255, 255, .3);
$color6: rgba(255, 255, 255, .5);
$color7: #ffff5f;
$target: rgba(255,255,255,0.7);
$bk:rgba(85, 172, 238, .2);